@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Orbitron', sans-serif;
    background-image: url(/static/images/images.jpg);
    color: #ffe81f;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Montserrat', sans-serif;
    color:#ffe81f
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 10px;
}

/* navbar */

.navbar-custom, .nav-link {
    color: #ffe81f;
}

.nav-link.active {
    color: #0072bb !important;
}

/* card */

#custom-card {
    background-color: #fffafa34;
    color: #ffe81f;
    width: 75%;
    display: flex;
    justify-content: center;
}

/* sign in/out */
#signing{
    font-size: larger;
    width: auto;
    display: inline-block;
}

#signing button{
    background-color: #fffafa34;
    color: #ffe81f;
    font-size: medium;
}

.sign-out-glowing-box{
    box-shadow: 0 0 5px red, 0 0 25px red;
}
.sign-out-glowing-box:hover{
   box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red, 0 0 200px red;
}