{% extends 'base.html' %}
{% block content %}
{% load static %}

<a button type="submit" class="btn custom-button" href="{% url 'post' %}">Make a post</a>

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row d-flex justify-content-center">
                {% for post in post_list %}
                <div class="col-md-7">
                    <div class="card mb-7 custom-card text-center">
                        <div class="card-body">
                            <a href="{% url 'post_view' post.id %}" class="post-link">
                                <p class="card-text h4">{{ post.content | safe }}</p>
                                <div class="image-container">
                                    {% if "placeholder" not in post.file.url %}
                                    <img class="scale" src=" {{ post.file.url }}" alt="{{ post.title }}">

                                    {% endif %}

                                </div>
                            </a>
                            <hr>
                            <p class="card-text small d-flex justify-content-end"><em>{{ post.created_on}} |
                                    {{ post.author }}</em></p>

                        </div>


                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}