{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Comlink | feed
{% endblock title %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            {% if user.is_authenticated %}
            <a class="btn custom-button btn-lg size" href="{% url 'post' %}">Make a post</a>
            {% else %}
            <a class="btn custom-button btn-lg size" href="{% url 'account_login' %}">Sign in to make a post</a>
            {% endif %}
        </div>
    </div>

    <!-- index.html content starts here -->
    <div class="row d-flex justify-content-center">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row d-flex justify-content-center">
                {% for post in post_list %}
                <div class="col-9">
                    <div class="card mb-7 custom-card text-center">
                        <div class="card-body">
                            <a href="{% url 'post_view' post.id %}" class="text-decoration-none text-reset">
                                <p class="post-link card-text h4">{{ post.content | safe }}</p>
                                <div class="image-container">
                                    {% if "placeholder" not in post.file.url %}
                                    <img class="feed-scale" src=" {{ post.file.url }}" alt="{{ post.content }}">
                                    {% endif %}
                                </div>
                            </a>
                            <hr>
                            <p class="card-text d-flex justify-content-end meta-info"><em>{{ post.created_on}} |
                                    {{ post.author }}</em>
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}