{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="masthead">
            <div class="container">
                <div class="row g-0">
                    <div class="card mb-7 custom-card">
                        <div class="card-body">
                            <p class="card-text h4 d-flex justify-content-center">{{ post.content | safe }}</p>
                            <div class="image-container">
                                {% if "placeholder" not in post.file.url %}
                                <img class="scale" src=" {{ post.file.url }}" alt="{{ post.title }}">
                                {% endif %}
                            </div>
                            <hr />
                            <p class="card-text meta-info d-flex justify-content-end"><em>{{ post.created_on}} |
                                    {{ post.author }}</em></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="comment-count">
                <i class="fa-regular fa-comments" style="color: #0027bb;"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row d-flex justify-content-center">
        <div class="col-11 mt-3 ">
            <h3>Comments:</h3>

            <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="card card-body custom-card">
                <div class="row justify-content-between comments">
                    <div class="fs-4 col-auto justify-content-start" id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if user.is_authenticated and comment.author == user %}
                    <div class="buttons d-flex justify-content-end col-2">
                        <button class="btn btn-edit custom-edit"  comment_id="{{ comment.id }}">Edit</button>
                        <button class="btn btn-delete custom-delete" id="delete-button" comment_id="{{ comment.id }}">Delete</button>

                    </div>
                    {% elif user.is_authenticated %}
                    <div class="buttons d-flex justify-content-end col-2">
                        <button class="btn" comment_id="{{ comment.id }}"><i class="fa-solid fa-flag"
                                style="color: #fe212e;"></i></i></button>
                    </div>
                    {% endif %}
                    <p class="meta-info d-flex justify-content-end">
                        <span>
                            {{ comment.author }} | {{ comment.created_on }}
                        </span>
                    </p>
                </div>



                <!-- Our for loop ends here -->
            </div>
            {% endfor %}
            <!-- Creating New Comments -->
            <div class="col-md-7 mt-3">
                <div class="card card-body custom-card">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn custom-button">Submit</button>
                    </form>
                    {% else %}
                    <p class="h4"><a class="{% if request.path == login_url %}active{% endif %} text-reset post-link"
                            href="{% url 'account_login' %}">Log in</a> to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content custom-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your comment?
                        This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block extras %}
    <script src="{% static 'js/comment.js' %}"></script>
    {% endblock %}