{% extends 'base.html' %}
{% block content %}
{% load static %}

<a button type="submit" class="btn custom-button" href="{% url 'post' %}">Make a post</a>

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row d-flex justify-content-center">
                {% for post in post_list %}
                <div class="col-md-7">
                    <div class="card mb-7 custom-card text-center">
                        <div class="card-body">
                            <div class="image-container">
                                <!-- {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %} -->

                            </div>

                            <p class="card-text h4">{{ post.content | safe }}</p>
                            <hr />
                            <p class="card-text small d-flex justify-content-end"><em>{{ post.created_on}} |
                                    {{ post.author }}</em></p>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}