{% load static %}
{% url 'home' as home_url %}
{% block title %}
Comlink | 404
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="mb-7 text-center">
                    <img
                        src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbHlkcWlza3QxNjF4MngyOXV3NGpjeW5pdnZiYjlucGhzMXJvY21hNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JJKs3I69qfaQleE/giphy.gif">
                    <h3>This is not the page you are looking for</h3>
                    <p class="small">return to the homepage <a href="{% url 'home' %}" class="link-colour">here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}