@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Orbitron', sans-serif;
    background-image: url(/static/images/background.jpg);
    color: #ffe81f;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 10px;
}
.link-colour{
    color: #0072bb;
}
.custom-edit {
    color: #2ff924;
    font-size: x-small;
    font-family: 'Montserrat', sans-serif;
}

.custom-edit:hover{
    color: #2ff924;
    border: solid 2px #2ff924;
    box-shadow: 0 0 5px #0072bb, 0 0 25px #2ff924;
}

.custom-delete {
    color: #EB212E;
    font-size: x-small;
    font-family: 'Montserrat', sans-serif;
}

.custom-delete:hover{
    color: #EB212E;
    border: solid 2px #EB212E;
    box-shadow: 0 0 5px #0072bb, 0 0 25px #EB212E;
}

.custom-button{
    background-color: #0072bb;
    color: white;
    font-size: medium;
}

.custom-button:hover{
    background-color: #fffafa34;
    color: #ffe81f;
    border: solid 2px #0072bb;
    box-shadow: 0 0 5px #0072bb, 0 0 25px #0072bb;
}

/* navbar */

.navbar-custom, .nav-link {
    color: #ffe81f;
}

.active, .post-link:hover, .nav-link:hover{
    color: #0072bb !important;
}
.custom-modal{
    background-color: black;
}
.meta-info{
    color: #ffe91f72;
    font-size: small;
    font-weight: light;
    font-style: italic; 
}

.comment-count{
    color: #0072bb;
    font-size: larger;
}
/* feed */
.custom-card {
    background-color: #fffafa34;
    color: #ffe81f;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}
.image-container {
    position: relative;
}
.scale {
    width: 100%;
    height: auto;
}
.masthead {
    margin-top: 10px;
    overflow: hidden;
    height: auto;
    width: 75%;
}


/* profile */

#flex-move{
    display: flex;
    justify-content: center;
}
#profile-pic {
    height: 25vw;
    width: 25vw;
    border: #0072bb solid 2px;
    /* makes the square image a circle */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.profile-cards, .picture-card{
    background-color: #fffafa34;
    color: #ffe81f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: none;
    padding: 5px;
    max-height: fit-content;
    max-width: 175px;
}

.picture-card{
    height: auto;
    max-width: 400px;
}

/* sign in/out */
#signing{
    font-size: larger;
    width: 75vw;
    display: inline-block;
    margin: 10px;
}

/* #signing button, #postButton{
    background-color: #fffafa34;
    color: #ffe81f;
    font-size: medium;
    border: solid 2px white;
} */


.sign-out-glowing-box{
    box-shadow: 0 0 5px #EB212E, 0 0 25px #EB212E;
}
.sign-out-glowing-box:hover{
   box-shadow: 0 0 5px #EB212E, 0 0 25px #EB212E, 0 0 50px #EB212E, 0 0 100px #EB212E, 0 0 200px #EB212E;
}

.sign-in-glowing-box{
    box-shadow: 0 0 5px #2ff924, 0 0 25px #2ff924;
}
.sign-in-glowing-box:hover{
    box-shadow: 0 0 5px #2ff924, 0 0 25px #2ff924, 0 0 50px #2ff924, 0 0 100px #2ff924, 0 0 200px #2ff924;
}

.sign-up-glowing-box{
    box-shadow: 0 0 5px #2E67F8, 0 0 25px #2E67F8;
}
.sign-up-glowing-box:hover{
    box-shadow: 0 0 5px #2E67F8, 0 0 25px #2E67F8, 0 0 50px #2E67F8, 0 0 100px #2E67F8, 0 0 200px #2E67F8;
}

#signup_form ul{
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-size: small;
    margin: 5px 10px 10px;
}

/* changing the styling of the log in and sign up forms - Credits to Amy for the help */
#id_password1, 
#id_password2,
#id_email,
#id_username,
#id_login,
#id_password,
#id_content,
#id_status,
#id_body,
#id_file,
#id_rank,
#id_avatar,
#id_bio{
    background-color: #fffafa34;
    color: #ffe81f;
    border: none;
    margin-bottom: 5px;
}



/* media query for tablets and higher */
@media screen and (min-width:768px) {
   #flex-move{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
   }
   .custom-delete, .custom-edit{
    font-size: medium;
   }
   
}


/* media query for larger screens*/
@media screen and (min-width:1200px) {
    .size{
        font-size: 1.25rem; /* Increase the font size */
    }
    .profile-cards, .picture-card, .bio{
        font-size: 1.5rem;
    }
    .custom-delete, .custom-edit{
        font-size: large;
       }

}