@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Orbitron', sans-serif;
    background-image: url(/static/images/images.jpg);
    color: #ffe81f;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Montserrat', sans-serif;
    color:#ffe81f
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 10px;
}
.link-colour{
    color: #0072bb !important;
}
/* navbar */

.navbar-custom, .nav-link {
    color: #ffe81f;
}

.nav-link.active {
    color: #0072bb !important;
}

/* card */

.custom-card {
    background-color: #fffafa34;
    color: #ffe81f;
    display: flex;
    justify-content: center;
}

/* sign in/out */
#signing{
    font-size: larger;
    width: auto;
    display: inline-block;
}

#signing button{
    background-color: #fffafa34;
    color: #ffe81f;
    font-size: medium;
}

.sign-out-glowing-box{
    box-shadow: 0 0 5px #EB212E, 0 0 25px #EB212E;
}
.sign-out-glowing-box:hover{
   box-shadow: 0 0 5px #EB212E, 0 0 25px #EB212E, 0 0 50px #EB212E, 0 0 100px #EB212E, 0 0 200px #EB212E;
}

.sign-in-glowing-box{
    box-shadow: 0 0 5px #2ff924, 0 0 25px #2ff924;
}
.sign-in-glowing-box:hover{
    box-shadow: 0 0 5px #2ff924, 0 0 25px #2ff924, 0 0 50px #2ff924, 0 0 100px #2ff924, 0 0 200px #2ff924;
}

.sign-up-glowing-box{
    box-shadow: 0 0 5px #2E67F8, 0 0 25px #2E67F8;
}
.sign-up-glowing-box:hover{
    box-shadow: 0 0 5px #2E67F8, 0 0 25px #2E67F8, 0 0 50px #2E67F8, 0 0 100px #2E67F8, 0 0 200px #2E67F8;
}

#signup_form ul{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

/* changing the styling of the log in and sign up forms - Credits to Amy for the help */
#id_password1, 
#id_password2,
#id_email,
#id_username,
#id_login,
#id_password {
    background-color: #fffafa34;
    color: #ffe81f;
}