@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Orbitron', sans-serif;
    background-image: url(/static/images/background.jpg);
    color: #ffe81f;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 10px;
}
.link-colour{
    color: #0072bb;
}

.custom-button{
    background-color: #0072bb;
    color: white;
    font-size: medium;
}

.custom-button:hover{
    background-color: #fffafa34;
    color: #ffe81f;
    border: solid 2px #0072bb;
    box-shadow: 0 0 5px #0072bb, 0 0 25px #0072bb;
}

/* navbar */

.navbar-custom, .nav-link {
    color: #ffe81f;
}

.active, .post-link:hover, .nav-link:hover{
    color: #0072bb !important;
}
.custom-modal{
    background-color: black;
}
.meta-info{
    color: #ffe91f72;
    font-size: small;
    font-weight: light;
    font-style: italic;
    
}

.comment-count{
    color: #0072bb;
    font-size: larger;
}
/* feed */
.custom-card {
    background-color: #fffafa34;
    color: #ffe81f;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}
.image-container {
    position: relative;
}
.scale {
    width: 100%;
    height: auto;
}
.masthead {
    margin-top: 10px;
    overflow: hidden;
    height: auto;
    width: 75%;
}

/* profile */
#profile-pic {
    height: 60vw;
    width: 60vw;
    /* makes the square image a circle */
    border-radius: 50%;
    max-width: 200vw;
    max-height: 200vw;
    padding: 10px;
    object-fit: cover;
}

.profile-cards{
    background-color: #fffafa34;
    color: #ffe81f;
    display: flex;
    justify-content: center;
    margin: 5px;
    border: none;
}

.picture-card{
    background-color: #fffafa34;
    color: #ffe81f;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 5px;
    border: none;
}

/* sign in/out */
#signing{
    font-size: larger;
    width: auto;
    display: inline-block;
}

/* #signing button, #postButton{
    background-color: #fffafa34;
    color: #ffe81f;
    font-size: medium;
    border: solid 2px white;
} */


.sign-out-glowing-box{
    box-shadow: 0 0 5px #EB212E, 0 0 25px #EB212E;
}
.sign-out-glowing-box:hover{
   box-shadow: 0 0 5px #EB212E, 0 0 25px #EB212E, 0 0 50px #EB212E, 0 0 100px #EB212E, 0 0 200px #EB212E;
}

.sign-in-glowing-box{
    box-shadow: 0 0 5px #2ff924, 0 0 25px #2ff924;
}
.sign-in-glowing-box:hover{
    box-shadow: 0 0 5px #2ff924, 0 0 25px #2ff924, 0 0 50px #2ff924, 0 0 100px #2ff924, 0 0 200px #2ff924;
}

.sign-up-glowing-box{
    box-shadow: 0 0 5px #2E67F8, 0 0 25px #2E67F8;
}
.sign-up-glowing-box:hover{
    box-shadow: 0 0 5px #2E67F8, 0 0 25px #2E67F8, 0 0 50px #2E67F8, 0 0 100px #2E67F8, 0 0 200px #2E67F8;
}

#signup_form ul{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

/* changing the styling of the log in and sign up forms - Credits to Amy for the help */
#id_password1, 
#id_password2,
#id_email,
#id_username,
#id_login,
#id_password,
#id_content,
#id_status,
#id_body,
#id_file {
    background-color: #fffafa34;
    color: #ffe81f;
    border: none;
}