{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row" id="flex-move">
        <div class="col-11 col-sm-12 col-md-4 picture-card card align-items-center">
            <img src="{% if 'placeholder' in profile.avatar.url %}/static/images/clone-placeholder.webp {%else%}{{profile.avatar.url}}{%endif%}"
                alt="Profile Picture" id="profile-pic">
            <div>
                <h5>{{profile.rank}} {{profile.user}}</h5>
            </div>


        </div>
        <div class="col-5 col-sm-5 col-md-4 card profile-cards card text-center">
            <p class="h6">0</p>
            <p class="small">followers</p>
        </div>
        <div class="col-5 col-sm-5 col-md-4 card profile-cards card text-center">
            <p class="h6">0</p>
            <p class="small">following</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-sm-12 card custom-card text-center">
            {% if user.is_authenticated and profile.user == user%}
            <a class="btn size z-3 position-absolute" href="{% url 'updateprofile' %}"><i class="fa-solid fa-pencil"
                    style="color: #2ff924;"></i></a>
            {% else %}
            {%endif%}
            <p class="bio">{{profile.bio}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="text-center justify-content-center">
            <h2>Your Posts</h2>
            {% for post in user_posts %}
            <div class="col-sm-12 justify-content-center">
                <div class="card mb-7 custom-card justify-content-center text-center">
                    <div class="card-body">
                        <a href="{% url 'post_view' post.id %}" class="text-decoration-none text-reset">
                            <p class="post-link card-text h4">{{ post.content | safe }}</p>
                            <div class="image-container">
                                {% if "placeholder" not in post.file.url %}
                                <img class="scale" src=" {{ post.file.url }}" alt="{{ post.title }}">
                                {% endif %}
                            </div>
                        </a>
                        <hr>
                        <p class="card-text d-flex justify-content-end meta-info"><em>{{ post.created_on}} |
                                {{ post.author }}</em>
                        </p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-7">
                <div class="card mb-7 custom-card text-center">
                    <div class="card-body">
                        <p class="card-text h4">No posts yet</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}